body {
    font-family: "Raleway", sans-serif;
}

.stext {
    font-family: "Raleway" sans-serif;
}

body,
html {
    height: 100%
}

.bgimg {
    background-image: url("../images/image.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}