body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/image.jpg");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}